body {
    font-size: 16px;
    color: #fff;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

/** HEADER **/
#header-nav {
    background-color: darksalmon;
    border-radius: 0;
    border: 0;
}

#star-k-logo {
    background: url('../star-k-logo.jpg') no-repeat;
    width: 100px;
    height: 100px;
   /* margin: 10px 15px 10px 0;*/
}

.title {  /* header title */
    font-family: 'Lora', serif;
    color: #dfebd9;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(48, 2, 2);
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
} 

#header-nav a:hover {
    text-decoration: none;
}
#header-nav p span {   /* star */
    vertical-align: middle;
}

/* navbar setting */
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px){
    .navbar-toggle {
        display: none;
    }
}

    /*****   body text    **********/      

.mymenu {
    font-size: xx-large;
    font-family: cursive;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p {
    /*border: 1px solid black;*/
    font-size: 1em;
    color: black;
    text-align: left;
    padding: 5px;
    background-color: gray;
    margin-top: 0;

}

.col {
    font-size: 1em;
    font-family: fantasy;
    text-align: center;
    color: black;
    background-color: gray;
    margin: 0;
    
}





